nav{
    display:inline-block;
    flex-direction: row;
}
.container{
    display: inline-block;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    max-width: 1400px;
    overflow: visible;
    padding: 30px 40px;
    position: relative;
    width: 1px;
}
ul{
    list-style-type: none;
    font-family: poppins, sans-serif;
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 13px;
    height: 18px;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 273px;
}

li a{
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: #2E2E2E;
}
#heroImg{
    font-family: poppins, sans-serif;
    place-content: right space-between;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    height: min-content;
    max-width: 1200px;
    overflow: hidden;
    padding: 100px 50px 0px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
  .right {
    justify-content: flex-end;
    height: 200px;
    width: 90%;
    text-align: right;
  }
  .left {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
    width: 30%;
    text-align: left;
    padding-right: 1rem;
  }

.left button{
    padding: 10px;
    background-color: #74D1BF;
    border-radius: 10px;
    border-color:#74D1BF;
    margin: 10px;
    width: 156px;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    font-family: poppins, montserrat;
    justify-content: flex-start;
}
.blurb h2{
    position: absolute;
    background-color: #E8BA28;
    padding: 30px;
    border-radius: 67px;

    width: 60%;
    text-align: center;
    z-index: 1;
    left: -101px;
    flex-flow: wrap;
}
.icons {
    position: end;
    align-items: center;
    display: inline-block;
    flex-flow: row nowrap;
    height: 26px;
    gap: 10px;
}

#samecolor{
    background-color: rgb(234, 233, 228);
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 0px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

/*foooter*/
#footer{
    align-items: flex-end;
    font-family: montserrat, poppins, sans-serif;
    display: inline-block;
    color: #2E2E2E;
    text-decoration: none;
}
.connect h2{
    flex: none;
    height: auto;
    max-width: 660px;
    min-width: 300px;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}

.stuff{
    display: inline-block;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 7px;
    height: min-content;
    justify-content: flex-end;
    width: 254px;
}

.footericons{
    display: inline-block;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    max-width: 1400px;
    overflow: visible;
    padding: 9px;
    position: relative;
    width: 100%;
}